version: "3.9"
services:
  web:
    build: .
    container_name: oficina_web
    ports:
      - "5000:5000"
    volumes:
      - .:/app
      - ./instance:/app/instance
    environment:
      - FLASK_ENV=development
    restart: unless-stopped
